<div class="card" style="width: 80rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Leaf Rake</li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-lg-3">
              <p>Name:</p>
              <p>Code:</p>
              <p>Description:</p>
              <p>Availability:</p>
              <p>Price:</p>
              <p>5 Star Rating:</p>
          </div>
          <div class="col-lg-3">
              <p>Leaf Rake</p>
              <p>GDN-0011</p>
              <p>Leaf Rake with 48-inch wooden handle</p>
              <p>March 19.2016</p>
              <p>$19.95</p>
              <p>3.2</p>
          </div>
            <div class="col-lg-3">
              <img src="assets/image/1.jpg" height="250px">
            </div>
          
        </div>
      </li>
      <li class="list-group-item">
        <i class='fas fa-angle-left'></i> Back
      </li>
    </ul>
  </div>
