
<div class="row">
    <div class="col-lg-6">
        <div class="dropdown">
                Show <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  10
                </button>Entreis
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">9</a>
                  <a class="dropdown-item" href="#">8</a>
                  <a class="dropdown-item" href="#">7</a>
                </div>
              </div>
    </div>
    <div class="col-lg-6">
            

            <form class="form-inline my-2 my-lg-0">
                    <button type="button" class="btn btn-primary">Excel</button>
                    <button type="button" class="btn btn-primary">PDF</button>
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button type="button" class="btn btn-primary">+ Add Emplyee</button>
                  </form>
    </div>
</div>

<table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Cong</td>
            <td>Ngo</td>
            <td>ntcong@tma.com.vn</td>
            <td><i class='fas fa-font'></i>
                <i class='far fa-file'></i>
                <i class='far fa-id-card'></i>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>thuy</td>
            <td>thanh</td>
            <td>aa@gmail.com</td>
            <td><i class='fas fa-font'></i>
                <i class='far fa-file'></i>
                <i class='far fa-id-card'></i>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>thanh</td>
            <td>thuy</td>
            <td>thanhthuy@gmail.com</td>
            <td><i class='fas fa-font'></i>
                <i class='far fa-file'></i>
                <i class='far fa-id-card'></i>
            </td>
          </tr>
          <tr>
                <th scope="row">4</th>
                <td>Qui</td>
                <td>Tran</td>
                <td>quytran@tma.com.vn</td>
                <td><i class='fas fa-font'></i>
                    <i class='far fa-file'></i>
                    <i class='far fa-id-card'></i>
                </td>
              </tr>
              <tr>
                    <th scope="row">5</th>
                    <td>nguyen</td>
                    <td>Tran</td>
                    <td>ttnguyen1@tma.com.vn</td>
                    <td><i class='fas fa-font'></i>
                        <i class='far fa-file'></i>
                        <i class='far fa-id-card'></i>
                    </td>
                  </tr>
        </tbody>
      </table>





